/* Place your CSS styles in this file */
@font-face{
    font-family: 'Luminari-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('Luminari-Regular.woff') format('woff');
}

html {
    height: 80vw;
}

html {
    display: table;
    margin: auto;
    background-color: black;
    padding-bottom: 25vw;
}

body {
    display: table-cell;
    vertical-align: top;
    position: relative;
    background-image: url("images/parchment.png");
    background-size:contain;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Luminari-Regular";
    font-weight: normal;
}

.content {
    overflow-x: hidden;
    width: 100%;
}

.fairy {
    position: absolute;
}

.gameText {
    position: absolute;
    color: white;
}

#actionText {
    text-align: center;
}

#sparkles {
    position: absolute;
    cursor: pointer;
}

.fadeable {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hidden-on-load {
    display: none;
}

.fairies {
    position: absolute;
    height: auto;
}

/* Positional stuff */

body {
    padding-top: 5em;
    padding-bottom: 13em;
    line-height: 0.83em;

    width: 50em;
}

.fairy {
    height: 11em;
    top: 18.4em;
    left: 20em;
}

.fairy1 {
    clip: rect(0, 8.3em, 11.1em, 0);
    margin-left: 1.66em;
}

.fairy2 {
    clip: rect(0, 16.7em, 11.1em, 7.8em);
    margin-left: -7.8em;
}

.fairy3 {
    clip: rect(0, 26.7em, 11.1em, 18em);
    margin-left: -18em;
}

.fairy4 {
    clip: rect(0, 38.9em, 11.1em, 29em);
    margin-left: -29em;
}

.fairy5 {
    clip: rect(0, 47.5em, 11.1em, 38.5em);
    margin-left: -38.5em;
}

.fairy6 {
    clip: rect(0, 58.3em, 11.1em, 48em);
    margin-left: -48em;
}

.fairy7 {
    clip: rect(0, 68.3em, 11.1em, 57em);
    margin-left: -57.2em;
}

.gameText {
    line-height: 1.2em;
}

#storyText {
    top: 20em;
    left: 0em;
    width: 100%;
}

#storyText.fairiesVisible {
    top: 24.3em;
}

#actionText {
    top: 33em;
    width: 28.6em;
    left: -1.43em;
    padding-bottom: 5.7em;
}

#sparkles {
    top: 49em;
    left: 16.9em;
    width: 16.6em;
    height: 16.6em;
    clip: rect(0, 15.6em, 15.6em, 0);
}

.sonnetText {
    line-height: 0.89em;
}

.fairies {
    top: 36.1em;
    left: 0.5em;
    width: 49em;
}

@media only screen and (max-width: 992px) {

body {
    font-size: 1.8vw;
}

.gameText {
    font-size: 3.5vw;
}

.sonnetText {
    font-size: 2.8vw;
}

}

@media only screen and (min-width: 992px) {

body {
    font-size: 1.2vw;
}

.gameText {
    font-size: 2.33vw;
}

.sonnetText {
    font-size: 1.2em;
}

}